@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html,body
{
    margin:0;
    padding:0;
    background-color: #1e1e1e;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content
{
    position: absolute;
    top:20%;
    width:400px;
    height: fit-content;
    background-color: #2e2e2e;
    border-radius:8px;
    margin-bottom:90px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    gap:20px
}

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:26px;
    margin-right:26px;
    color:#f0f0f0;
    gap:47px;
}

.main .username , .main .email , .main .password
{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    height: 38px;
}

input:not([type="checkbox"])
{
    background-color: #414141;
    color: #d1d1d1;
    border: none;
    border-radius: 6px;
    width: 104%;
    line-height: 35px;
    align-items: center;
    font-size:15px;
    padding-left: 10px;
}

.checkbox{
    width: 25px;
}

.password
{
    margin-bottom:20px;
}

.main .username p , .main .email p,.main .password p
{
    font-weight: 600;
    font-size: 13px;
    color: #d1d1d1; 
    margin:0 !important ;
}

.main .password .pwd
{
    margin-bottom: 10px !important ;
}


form{
    width: 100%;
}

.button
{
    height: 45px;
    border-radius: 7px;
    background-color: #e74c3c;
    box-shadow: 0 6px 15px rgba(231, 76, 60, 0.7);
    width: 100%;
    margin-bottom:30px;
    margin-left: 7px;
}

.button:hover
{
    background-color: #bd3e30;
    box-shadow: 0 9px 25px rgba(189, 62, 48, 0.9);
}