@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


html,body
{
    height: 100%;
    width: 100%;
    margin:0;
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
}
.container
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container .table
{
    all:revert;
    width:80%;
    text-align: center;
    color:#fff;
    background-color: #2e2e2e !important ;
    border-radius: 8px;
    padding-bottom:0;
    border-collapse: collapse;
    overflow: hidden;
}


.table .header .main
{
    height: 50px;
    background-color: #414141;
    border-radius: 8px;
}

.table th
{
    font-weight: 600;
}

.table .content .action
{  
    margin-right: 20px;
    width: 330px;   
}

.table .content .titre , .table .content .genre, .table .content .image
{
    width: 200px;
}

.table .content .image 
{
    padding-top:20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.table .content .image:hover
{
    cursor: pointer;
}

.table .content  img
{
    transition: transform 0.3s;
    border-radius: 2px;
}
.table .content  img:hover
{
    transform: scale(1.15);
}

.table .content .action .delete
{
    margin-right: 60px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.table .content .action .delete:hover
{
    background-color: #bd3e30;
    cursor: pointer;
}

.table .content .action .edit
{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    background-color: #3498db;
    border-color: #3498db;
}

.table .content .action .edit:hover
{
    background-color:#2a78ac;
    cursor: pointer;
}

.table .content:hover
{
    background-color: #4c4c4c;
    cursor: pointer;
}

.table .content .action .button
{
    color: #fff;
    transition: transform 0.3s;
}

.table .content .action .button:active
{
    transform: scale(0.92);
}